@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    gap: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 800;
    padding-bottom: 33px;
    font-family: var(--font-roboto);
    
    /* color: transparent; */
    background-clip: text;
    text-shadow: 12px 0px 4px rgba(0, 0, 0, 0.3);
}

.description{
    font-size: 27px;
    border-radius: 15px 15px 0px 15px;
    font-family: var(--font-roboto);
    padding: 15px;
    margin-bottom: 52px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(90deg, rgba(127, 200, 236, 0.42) 0%, rgba(67, 72, 62, 0) 100%);
    transition: 0.4s;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
}

.description:hover{
    background-size: 100% 100%;
}

.contactBtn{
    text-decoration: none;
    /* background-color: var(--color-primary); */
    border-radius: 100px;
    font-size: 30px;
    padding: 17px 26px;
    font-weight: 600;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    color: var(--color-text);
    background: linear-gradient(to right, black, blue);
    /* transition: 0.5s ease-in-out; */
}
.contactBtn:hover{
    background: linear-gradient(#637a7a, #eae3e3);
    color: black;
    transition: 0.5s ease-in-out;
}

.heroImg{
    width: 30%;
    z-index: 1;
    border-radius: 50%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 4px 10px rgba(240, 238, 238, 0.2);
   
}

@keyframes floating{
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -0px);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
    .heroImg{
        width: 50%;
    }
}


